body{
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	overflow-x: hidden;
}
.main{
	width: 100%;

}
.header {
	text-align: center;
	padding: 5px;
	background-color: #333;
	color: white;
}
.div11{
	width: 100%;
	height: 60px;
	background-color: #0057a3;
	display: flex;
	justify-content: space-between;
	align-items: center;	
     
}
.ul12{
	list-style-type: none;
	display: flex;
	padding-left: 9.7%;
	transition: 1s;
	
}
.img13{
	height: 42px;
}
.ul18{
	list-style-type: none;
	color: #ffffff;
	display: flex;
	padding-right: 7%;
	gap:5px;
}
.a20{
	text-decoration: none;
	color: #ffffff;
	padding: 7px;
	transition: 0.5s;
}
.a20:hover{
	color: #ffad29;
}
.div30{
	width: 100%;
	height: 8vh;
	background-color: #ffffff;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.img31{
	width: 15%;
	height: 50px;
	padding-left: 9.1%;
}
.ul33{
	list-style-type: none;
	float: left;
	display: flex;
	padding-right: 3%;
	
}
.a34{
	text-decoration: none;
	color: #0057a3;
	padding: 20px;
	margin-right: 5px;
	font-size: 22px;
}
.a34:hover{
	background-color: #fcd71c;
	color: #ffffff;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	transition: background-color 0.7s;
}
.div46{
	width: 100%;
	height: 75vh;
	border: 1px solid black;
	background-image: url('images/kigali.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.div47{
	width: 50%;
	height: 13%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 30%;
	margin-left: 25%;
	border-radius: 20px;
}
.ul48{
	text-align: center;
	list-style-type: none;
	color: #fcd71c;	
	font-family: 'Times New Roman', Times, serif;
	font-size: 46px;
	padding: 20px;
	font-weight: bolder;

}

.secondpart {
    width: 90%;
    margin: auto;
    padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.content {
    display: flex;
    justify-content: space-evenly;
	align-items: center;
    
}

/* Embedded section on the left */
.iframe-section{
	width: 50%;

}
iframe {
    width: 100%;
    height: 470px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border-color: #0057a3;
    
}


.right-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 40%;
}

.box, #profileSection {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #8ab8e1;
    text-align: center;
    min-width: 250px;
    max-width: 100%;
	transition: 1s;
	
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);	
}
.box p{
	font-size: 13px;
	color: #0057a3;
	font-weight: bold;
}
#profileSection:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
#followerCount {
    font-weight: bold;
    color: #0057a3;
    font-size: 22px;
}


.div53{
	text-align: center;
	position: relative;

}
h2{
	display: inline-block;
	color: #fcc428;
	background-color: #ffffff;
	padding: 0 10px;
	position: relative;
	font-size: 35px;
}
.div53::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	height: 2px;
	background-color: rgba(255, 173, 41, 0.5);
	z-index: -1;

}
.div59{
	width: 100%;
	height: 55vh;
	display: flex;
	justify-content: space-between;
	
}

.subdiv{
	width: 30%;
	margin-top: 30px;
	padding: 50px;
	
}
.tdheader{
	font-weight: bolder;
	font-size: 25px;
	color: #004099;
}
.ul69{
	font-size: 19px;
	margin-left: 58px;
}
.licolor{
	color: #306afc;
	text-decoration: none;
}
.div60{
	position: relative;
	display: flex;
}
h3{
	color: #fcc428;
	
	font-size: 30px;
	font-weight: bolder;
	position: relative;
	display: inline-block;
	padding: 0 50px;
}
.div60::before{
	content: "";
	position: absolute;
	top: 9.5%;
	left: 150px;
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -1;
}
.div117{
	width: 100%;
	height: 45vh;
	position: relative;
	background-image: url('images/container.jpg');
	background-size: cover;
	background-position: center;
}
.div117::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 30, 0.7);
	z-index: 1;
}
.div118{
	position: absolute;
	top: 50%;
	left: 49%;
	transform: translate(-50%,-50%);
	z-index: 2;
	width: 1500px;
	height: auto;


}
.h118{
	text-align: center;
	color: #fcd71c;
	font-size: 35px;
	font-weight: bolder;


}
.p120{
	color: #ffffff;
	text-align: center;
	font-weight: bolder;
	font-size: 32px;
}
.img124{
	width: 50px;
	height: 50px;
}
.div127{
	float: left;
	margin-left: 120px;
}
.td125{
	color: #fcd71c;
	font-size: 28px;
	text-align: center;

}
.div155{
	width: 100%;
	height: 70vh;
}
.div156{
	position: relative;
	display: flex;
}
.h157{
	color: #fcc428;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	padding: 0 50px;
}
.div156::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 14%;
	width: 83%;
	background-color: rgba(0, 0, 0, 0.2);
	height: 1px;
	z-index: -1;
}
.div159{
	width: 23%;
	height: 50vh;
	border: 1px double #d4d2d2;
	float: left;
	margin-left: 130px;
	border-radius: 8px;
	background-color: #fafafa;
}
.img162{
	width: 100%;
	height: 45%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.h162{
	text-align: center;
	background-color: #edf0ee;
	padding: 10px;
	font-size: 20px;
	margin-top: -3px;
	
}
.p163{
	font-family: Bahnschrift Condensed;
	text-align: center;
	font-size: 17px;
	padding: 10px 20px;

}
.button164{
	width: 90%;
	background-color: #4a99ff;
	color: #ffffff;
	font-size: 18px;
	border-radius: 6px;
	border: none;
	padding: 6px 20px;
	margin-left: 5%;
	cursor: pointer;
	transition: background-color 1s;
}
.divf{
	width: 100%;
	height: 55vh;
	background-color: #035B99;
}
.subdivf{
	width: 20%;
	margin-top: 30px;
	float: left;
	margin-left: 120px;
}
.subdivf0{
	width: 20%;
	margin-top: 30px;
	float: left;
}
.subdivf1{
	width: 21%;
	margin-top: 30px;
	float: left;
}
.subdivf2{
	width: 21%;
	margin-top: 30px;
	float: left;
	margin-left: 40px;
}
.h184{
	color: #fcd71c;
	font-size: 19px;
	margin-left: 12px;

}
.subdivff{
	width: 100%;
}
.a188{
	text-decoration: none;
	color: #ffffff;
}
.ul187{
	color:  #88B2CF;
	
}
address{
	color: #88B2CF;
	font-style: normal;
}
.imgf{
	width: 13px;
	height: 13px;
	margin-right: 5px;
}
.imgff{
	width: 17px;
	height: 17px;

}